# Data and R files
data/*
int/*
cache/*
env/*
opt/*
output/*
*.RData
*.rds
*.Rhistory

# LaTeX helper files
*.sty
*.cls
*.csl
*.aux
*.log
*.out
*.synctex.gz

$ Microsoft Office files
*.docx
*.pptx

# Heavy .tiff files
*.tiff

# Submissions
doc/module_ewas/past_submissions/*
doc/ashg2019/*
*cover_letter*

# Mac-specific
*.DS_Store
